<!-- views/pages/home.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <title>Profile Page</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/libs/semantic/semantic.min.css">
        <link rel="javascript" type="text/javascript" href="/libs/jquery-3.0.0.min.js">
        <link rel="javascript" type="text/javascript" href="/libs/semantic/semantic.min.js">
        <link rel="javascript" type="text/javascript" href="/libs/semantic/validation.js">
        <style> body { padding-top:15%; } </style>
    </head>
    <body>
        <div class="ui fixed borderless stackable menu">
            <div class="ui red container">
                <a href="/" class="header item"> High Roll </a>
                <a href="/profile" class="item">Profile</a>
                <a href="/addSales" class="item">Sales</a>
                <a href="/logout" class="right aligned item">Logout</a>
            </div>
        </div>
        ADD A NEW SALE!!<br>
        <form method="post" class="form" action="/addSales">
        ID: <input type="text" id = "ID" name = "ID"/> <br>
        Date: <input type="date" id = "date" name="date"/> <br>
        Type: <select id = "type" name = "type"><option value = "Events"> Events </option> <option value = "Streets"> Streets </option></select> <br>
        Shift: <select id = "Shift" name = "Shift" ><option value = "AM"> AM </option> <option value = "PM"> PM </option> <option value = "SS"> SS </option></select> <br>
        Location: <input type="text" id = "location" name="location"/> <br>
        Demo: <input type="number" id = "demo" name="demo"/> <br>
        Close: <input type="number" id = "close" name="close"/> <br>
        UpSale: <input type="number" id = "upSale" name="upSale"/> <br>
        DownSale: <input type="number" id = "downSale" name="downSale"/> <br>
        <input type="submit"/>
        </form>  

        

        PAST SALES!!!!<br>

        
    </body>

</html>