<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Absolute</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/libs/semantic/semantic.min.css">
    <script type="text/javascript" src="/libs/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="/libs/semantic/semantic.min.js"></script>
    <style> 
      body { 
        padding-top:15%; 
        background-color: #DADADA;
      } 
    </style>
</head>

<body class="container">
    <div>
    <div class="ui middle aligned center aligned grid">
    <div class="column">
    <h2 class="ui red huge header">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form action="/users/auth" method="post" class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" class = "form-control" name="username" placeholder="Employee ID">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" class = "form-control" name="password" placeholder="Password">
          </div>
        </div>
        <button type = "submit" class="ui fluid large red submit button"> Login </button>
      </div>
    </form>
    <div class="ui segment">
       Don't have an Account? <a href="/signup">&nbspSign Up</a>
    </div>
  </div>
</div>

</body>
</html>
