<!-- Day Table -->
<table class="ui celled structured table">
    <thead>
        <tr>
          <th rowspan="3">Team</th>
          <th rowspan="3">Employee</th>
          <th class="center aligned" colspan="4">Sales</th>
        </tr>
        <tr>
          <th>Demo</th>
          <th>Close</th>
          <th>Upsale / Downsale</th>
          <th>Total</th>
        </tr>
    </thead>
</table>
