<!-- Week Table -->
<table class="ui celled structured inverted blue table">
    <thead>
        <!-- First Row -->
        <tr>
            <th>Team</th>
            <th>Employee</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- Second + Third + Fourth Row -->
            <td rowspan="3">Alpha</td>
            <!-- Second row -->
            <td>
                <h4 class="ui image inverted header">
                    <img src="/images/portrait.png" class="ui mini rounded image">
                    <div class="content">
                        Sean Han
                        <div class="sub header">CEO BITCH</div>
                    </div>
                </h4>
            </td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
        </tr>
        <!-- Third Row -->
        <tr>
            <td>
                <h4 class="ui image inverted header">
                    <img src="/images/portrait.png" class="ui mini rounded image">
                    <div class="content">
                        Kevin Yoo
                        <div class="sub header">SEAN'S BITCH</div>
                    </div>
                </h4>
            </td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
        </tr>
        <!-- Fourth Row -->
        <tr>
            <td>
                <h4 class="ui image inverted header">
                    <img src="/images/portrait.png" class="ui mini rounded image">
                    <div class="content">
                        Maurice Chiu
                        <div class="sub header">Stoner</div>
                    </div>
                </h4>
            </td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
        </tr>
        <tr>
            <!-- Fifth + Sixth + Seventh Row -->
            <td rowspan="3">Beta</td>
            <!-- Fifth Row -->
            <td>
                <h4 class="ui image inverted header">
                    <img src="/images/portrait.png" class="ui mini rounded image">
                    <div class="content">
                        Jonathan Koh
                        <div class="sub header">FOUNDER</div>
                    </div>
                </h4>
            </td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
        </tr>
        <!-- Sixth Row -->
        <tr>
            <td>
                <h4 class="ui image inverted header">
                    <img src="/images/portrait.png" class="ui mini rounded image">
                    <div class="content">
                        Connor Tree
                        <div class="sub header">Bodyguard</div>
                    </div>
                </h4>
            </td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
        </tr>
        <!-- Seventh Row -->
        <tr>
            <td>
                <h4 class="ui image inverted header">
                    <img src="/images/portrait.png" class="ui mini rounded image">
                    <div class="content">
                        Jimmy Guo
                        <div class="sub header">JKOH'S BITCH</div>
                    </div>
                </h4>
            </td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
            <td class="right aligned">3</td>
        </tr>
    </tbody>
</table>
