<!-- Week Table -->
<table class="ui celled structured inverted blue table">
    <thead>
        <!-- First Row -->
        <tr>
            <th>Team</th>
            <th>Employee</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
            <th>Sun</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- Second + Third + Fourth Row -->
            <td rowspan="3">
                <a class="ui yellow ribbon label"></a>
                Alpha
            </td>

            <!-- Second row -->
            <td>
                <h4 class="ui image inverted header">
                    <a class="ui yellow empty circular label"></a>
                    <img src="/images/portrait.png" class="ui mini rounded image">
                    <div class="content">
                        Sean Han
                        <div class="sub header">CEO BITCH</div>
                    </div>
                </h4>
            </td>
            <td class="right aligned">57</td>
            <td class="right aligned">21</td>
            <td class="right aligned">74</td>
            <td class="right aligned">23</td>
            <td class="right aligned">12</td>
            <td class="right aligned">74</td>
            <td class="right aligned">55</td>
        </tr>
        <!-- Third Row -->
        <tr>
            <td>
                <h4 class="ui image inverted header">
                    <a class="ui grey empty circular label"></a>
                    <img src="/images/portrait.png" class="ui mini rounded image">
                    <div class="content">
                        Kevin Yoo
                        <div class="sub header">SEAN'S BITCH</div>
                    </div>
                </h4>
            </td>
            <td class="right aligned">12</td>
            <td class="right aligned">63</td>
            <td class="right aligned">24</td>
            <td class="right aligned">84</td>
            <td class="right aligned">25</td>
            <td class="right aligned">47</td>
            <td class="right aligned">15</td>
        </tr>
        <!-- Fourth Row -->
        <tr>
            <td>
                <h4 class="ui image inverted header">
                    <a class="ui brown empty circular label"></a>
                    <img src="/images/portrait.png" class="ui mini rounded image">
                    <div class="content">
                        Maurice Chiu
                        <div class="sub header">Stoner</div>
                    </div>
                </h4>
            </td>
            <td class="right aligned">72</td>
            <td class="right aligned">15</td>
            <td class="right aligned">83</td>
            <td class="right aligned">84</td>
            <td class="right aligned">12</td>
            <td class="right aligned">6</td>
            <td class="right aligned">23</td>
        </tr>
        <tr>
            <!-- Fifth + Sixth + Seventh Row -->
            <td rowspan="3">
                <div class="ui grey ribbon label"></div>
                Beta
            </td>
            <!-- Fifth Row -->
            <td>
                <h4 class="ui image inverted header">
                    <a class="ui yellow empty circular label"></a>
                    <img src="/images/portrait.png" class="ui mini rounded image">
                    <div class="content">
                        Jonathan Koh
                        <div class="sub header">FOUNDER</div>
                    </div>
                </h4>
            </td>
            <td class="right aligned">25</td>
            <td class="right aligned">73</td>
            <td class="right aligned">35</td>
            <td class="right aligned">32</td>
            <td class="right aligned">45</td>
            <td class="right aligned">23</td>
            <td class="right aligned">74</td>
        </tr>
        <!-- Sixth Row -->
        <tr>
            <td>
                <h4 class="ui image inverted header">
                    <a class="ui grey empty circular label"></a>
                    <img src="/images/portrait.png" class="ui mini rounded image">
                    <div class="content">
                        Connor Tree
                        <div class="sub header">Bodyguard</div>
                    </div>
                </h4>
            </td>
            <td class="right aligned">52</td>
            <td class="right aligned">85</td>
            <td class="right aligned">25</td>
            <td class="right aligned">74</td>
            <td class="right aligned">16</td>
            <td class="right aligned">24</td>
            <td class="right aligned">3</td>
        </tr>
        <!-- Seventh Row -->
        <tr>
            <td>
                <h4 class="ui image inverted header">
                    <a class="ui brown empty circular label"></a>
                    <img src="/images/portrait.png" class="ui mini rounded image">
                    <div class="content">
                        Jimmy Guo
                        <div class="sub header">JKOH'S BITCH</div>
                    </div>
                </h4>
            </td>
            <td class="right aligned">19</td>
            <td class="right aligned">31</td>
            <td class="right aligned">5</td>
            <td class="right aligned">23</td>
            <td class="right aligned">64</td>
            <td class="right aligned">2</td>
            <td class="right aligned">6</td>
        </tr>
    </tbody>
</table>
